<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matiaslugo.obligatorio2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Obligatorio2021">
        <activity
            android:name=".presentacion.viewseventos.ModificarEventoActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewTareas.ListarTareasActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewGastos.DetalleGastoActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewTareas.CrearTareaActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewGastos.CrearGastoActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewTareas.TareaMantenimientoActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewGastos.GastoMantenimientoActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewreuniones.DetalleReunionActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewreuniones.ReunionMantenimiento"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewreuniones.CrearReunionActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewclientes.ClienteModificarActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewseventos.EventoMantenimiento"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewseventos.CrearEventoActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewseventos.DetalleEventoActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewclientes.ClienteCrearActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewclientes.DetalleClienteActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.viewclientes.ClienteMantenimiento"
            android:exported="false" />
    </application>

</manifest>