<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matiaslugo.obligatorio2021">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Obligatorio2021">
        <activity
            android:name=".viewseventos.ModificarEventoActivity"
            android:exported="false" />
        <activity
            android:name=".viewTareas.ListarTareasActivity"
            android:exported="false" />
        <activity
            android:name=".viewGastos.DetalleGastoActivity"
            android:exported="false" />
        <activity
            android:name=".viewTareas.ModificarTareaActivity"
            android:exported="false" />
        <activity
            android:name=".viewGastos.ModificarGastoActivity"
            android:exported="false" />
        <activity
            android:name=".viewTareas.CrearTareaActivity"
            android:exported="false" />
        <activity
            android:name=".viewGastos.CrearGastoActivity"
            android:exported="false" />
        <activity
            android:name=".viewTareas.TareaMantenimientoActivity"
            android:exported="false" />
        <activity
            android:name=".viewGastos.GastoMantenimientoActivity"
            android:exported="false" />
        <activity
            android:name=".viewreuniones.DetalleReunionActivity"
            android:exported="false" />
        <activity
            android:name=".viewreuniones.ModificarReunionActivity"
            android:exported="false" />
        <activity
            android:name=".viewreuniones.ReunionMantenimiento"
            android:exported="false" />
        <activity
            android:name=".viewreuniones.CrearReunionActivity"
            android:exported="false" />
        <activity
            android:name=".viewclientes.ClienteModificarActivity"
            android:exported="false" />
        <activity
            android:name=".viewseventos.EventoMantenimiento"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".viewseventos.CrearEventoActivity"
            android:exported="false" />
        <activity
            android:name=".viewseventos.DetalleEventoActivity"
            android:exported="false" />
        <activity
            android:name=".viewclientes.ClienteCrearActivity"
            android:exported="false" />
        <activity
            android:name=".viewclientes.DetalleClienteActivity"
            android:exported="false" />
        <activity
            android:name=".viewclientes.ClienteMantenimiento"
            android:exported="false" />
        <activity
            android:name=".presentacion.MainActivity"
            android:exported="false" />
    </application>

</manifest>